body 
{
    background-color: #F0F0F0;
    font-size:large;
}
.container
{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    float: center;
    background-color: white;
    height: fit-content;
}

.results-page
{
    padding-left: 10rem;
    padding-right: 10rem;
}

.name
{
    color: blue;
}

.score
{
    font-size: 13px;
}

.bio
{
    font-size: 15px;
}